::-webkit-scrollbar{
    width: 0;
    height: 0;
}

* {
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #2C3930;
    overscroll-behavior-x: none;
    overscroll-behavior-y: contain;
    margin: 0;
}

h1 {
    color: white;
    font-size: 40px;
    margin: 0 0 10px 0;
}

p {
    color: white;
    font-size: 30px;
    font-weight: 525;
    margin: 5px;
}

.zoomBtns {
    position: absolute;
    bottom: 50px;
    width: 80%;
    height: 10%;
    padding: 20px;
    background-color: #3c5c47;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 2vw;
    background-color: #a27b5c;
    border: none;
    box-shadow: 4px 4px 0 0 #321c0c;
    border-radius: 15px;
    height: 80%;
    width: 27%;
    color: #DCD7C9;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
button#resetBtn {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button#resetBtn > img {
    width: 50%;
}
button:active {
    position: relative;
    top: 2px;
    left: 1.4px;
    box-shadow: 3px 2px 0 0 #321c0c;
}

.board {
    width: 270px;
    height: 270px;
    background-color: #3F4F44;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15%;
    padding: 5px;
}
.board.end {
    background-color: red;
}
.board.end::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21212175;
    border-radius: 15%;
    z-index: 1;
    /* pointer-events: none; */
}
.resetImg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    padding: 5%;
    background-color: #212121dd;
    border-radius: 30%;
}
.board > .resetImg {
    display: none;
}
.board.end > .resetImg {
    display: block;
}
.hole, .space {
    width: 30px;
    height: 30px;
    margin: 2.5px;
}
.hole {
    border-radius: 50%;
    background-color: #A27B5C;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.selected {
    background-color: #DCD7C9;
}
.hole.filled::after {
    content: "";
    width: 85%; /* Adjust size for inner circle */
    height: 85%;
    background-color: #8f5e23;
    border-radius: 50%;
}
.possible {
    background-color: #e7be65;
}
.red {
    background-color: red;
}
